<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <textarea name="area" id="" cols="30" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet maiores deleniti, vitae, cumque aliquam vel quasi voluptas consequatur nobis, recusandae eius minus pariatur incidunt rerum obcaecati explicabo dolorum similique!</textarea>
</body>
</html>