<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur voluptas tempore, tenetur deserunt dolorum doloribus? Commodi officia alias nam molestias ducimus deleniti, illo explicabo aperiam neque quis nemo ipsa odio!    </p>
</body>
</html>